<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
<!-- parameter name = "TestData" value="\Tools\testdata.properties"/-->
<!-- parameter name = "DataInput" value="\Tools\dataInput.properties"/-->
<!-- parameter name = "ObjectStore" value="\Tools\objectStore.properties"/-->
  <test verbose="2" name="Default test">
    <classes>
      <!--  class name="webdriver_common_API.TestCase"/-->
      <!-- class name="TestData.testData"/-->
      <!-- class name="autoItTest.AlipayTest"/-->
      <class name ="MavenTest.TestCases.TestCase_Login163" />
      
    </classes>
  </test> 
</suite> 
